work_dirs
data
*.pyc
*.pth
.venv/
baseline_official/fold_1*
baseline_official/fold_2*
baseline_official/fold_3*
baseline_official/test_hsi_pca
*.jpg
*.png
*.pt


----------
uda
repro_uda
!best.pt
!last.pt

baseline_official/test_hsi_rgb_640_v3_bilinear
baseline_official/test_hsi_rgb_640_v3_bilinear_obb
baseline_official/train_hsi_unlabeled_v3_bilinear
baseline_official/train_hsi_unlabeled_v3_bilinear_round2
baseline_official/hsi_rgb_640_v3_bilinear_obb
mmdet/models/datasets/
